# vim: set sw=4 sts=4 et :
alias ll="ls -lah"
alias rm="rm -i"
alias cp="cp -i"
alias ls="ls --color=auto"
alias l="ls -aihl"
alias cave="sudo cave"
alias grep="grep --color"
alias xp='xprop | grep "WM_WINDOW_ROLE\|WM_CLASS" && echo "WM_CLASS(STRING) = \"NAME\", \"CLASS\""'
alias cvs="cvs -z3"
alias reboot="shutdown -r now"
alias shutdown="shutdown -h now"
alias hostip="wget http://checkip.dyndns.org/ -O - -o /dev/null | cut -d: -f 2 | cut -d\< -f 1"
alias eix="sudo cave search"
alias lss="qsize -a -k | sort -n -k 6"
alias randep="find . | mplayer -fs -shuffle -playlist -"
alias rtorrent="tmux new -s rtorrent rtorrent"
alias update_python="sudo python-updater -c 'xargs cave resolve -Cs -1zx'"
alias patchpaste="git format-patch --stdout -M -C -C -1 | wgetpaste --raw --service gists"
alias -s jpg="/usr/bin/gpicview"

# do a du -hs on each dir on current path
alias lsdir="for dir in *;do;if [ -d \$dir ];then;du -hsL \$dir;fi;done"

