# vim: set sw=4 sts=4 et :

fans() {
    if [ $1 ] ; then
        aticonfig --adapter=0 --od-gettemperature | tail -n1 | awk '{print "Current temp: " $5}' ;
        aticonfig --pplib-cmd "set fanspeed 0 $1" ;
    else
        aticonfig --adapter=0 --od-gettemperature | tail -n1 | awk '{print "Current temp: " $5}' ;
        aticonfig --pplib-cmd "set fanspeed 0 auto" ;
    fi
}

chpwd() {
    [[ -o interactive ]] || return
    case $TERM in
        rxvt-unicode-256color) print -Pn "\e]2;%~\a"
        ;;
    esac
}
