[user]
	name = Lasse Brun
	email = <bruners@gmail.com>
[github]
	user = Bruners
[branch]
	autosetupmerge = always
	autosetuprebase = always
[color]
	ui = auto
	diff = auto
	status = auto
	branch = auto
	interactive = auto
	grep = auto
[interactive]
	singlekey = true
[help]
	autocorrect = 10
[diff]
	submodule = log
[core]
	excludesfile = /home/lasseb/github/.global_ignore
	whitespace = trailing-space,space-before-tab
	pager = less -S
[alias]
	b = branch -v
	last = diff HEAD^
	hist = log --pretty=format:\"%C(yellow)%h %Cgreen%ad %Creset%s%C(yellow)%d %Creset[%C(cyan)%an%Creset]\" --graph --date=short
	conflicts = !git ls-files -u | cut -f 2 | sort -u
	changes = log --pretty=format:\"%h %cr %cn %Cgreen%s%Creset\" --name-status
	changelog = log --pretty=format:\" * %s\"
	short = log --pretty=format:\"%h %cr %cn %Cgreen%s%Creset\"
	pig = format-patch --stdout -M -C -C
	d = difftool
	pe = format-patch -M -C --find-copies-harder --stdout
[format]
	pretty = "Commit:  %C(yellow)%H%nAuthor:  %C(green)%aN <%aE>%nDate:    (%C(red)%ar%Creset) %ai%nSubject: %s%n%n%b"
[push]
	default = simple
[merge]
	summary = true
	conflictstyle = diff3
	log = 10
	ff = only
	defaultToUpstream = true
[pull]
	rebase = true
[rebase]
	autostash = true
[status]
	branch = true
[blame]
	date = relative
[rerere]
	enabled = true
[apply]
	whitespace = fix
[difftool]
	prompt = false
